In [14]:
import numpy as np
import pandas as pd
from scipy import stats

In [27]:
np.random.seed(0)

In [28]:
smoke = ['안함', '가끔', '매일', '심함']
exercise = ['안함', '가끔', '매일']

In [29]:
data = {'smoke' : np.random.choice(smoke, size=500),
        'exercise' : np.random.choice(exercise, size=500)}

In [30]:
df = pd.DataFrame(data, columns=['smoke', 'exercise'])
df.head()

  smoke exercise
0    안함       안함
1    심함       안함
2    가끔       매일
3    안함       가끔
4    심함       가끔

In [31]:
xtab = pd.crosstab(df.smoke, df.exercise)
xtab

exercise  가끔  매일  안함
smoke
가끔        38  39  45
매일        34  44  33
심함        45  44  51
안함        47  41  39

In [32]:
contg = stats.chi2_contingency(observed = xtab)
p_value = np.round(contg[1], 3)
print('p-value :', p_value)

p-value : 0.668